<div>
  <p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true"
            [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <p>
      Name: <input type="text" pInputText [(ngModel)]="inputBody.name"/><br/>
      UserID: <input type="text" pInputText [(ngModel)]="inputBody.userID"/><br/>
      Phone: <input type="text" pInputText [(ngModel)]="inputBody.phone"/><br/>
      Livingplace: <input type="text" pInputText [(ngModel)]="inputBody.livingPlace"/><br/>
      PersonalID: <input type="text" pInputText [(ngModel)]="inputBody.personalID"/><br/>
    </p>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="addUser()" label="Yes">Yes</button>
      <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No"
              class="ui-button-secondary">No</button>
    </p-footer>
  </p-dialog>
</div>

<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show">Dialog</button>


<button>Add User. Not created...</button><br/>
<button (click)="getData()">Show All User</button>
<div *ngIf="users">All user:
  <table border="3px solid black">
    <div *ngFor="let user of users">
      <tr>
        Name: {{user.name}}
      </tr>
      <tr>
        UserID: {{user.userID}}
      </tr>
      <tr>
        Phone number: {{user.phone}}
      </tr>
      <tr>
        Living Place: {{user.livingPlace}}
      </tr>
      <tr>
        Personal ID: {{user.personalID}}
      </tr>
      <tr>
        <button (click)="getCount(user.userID)">Count this user.</button>
        <div *ngIf="count">{{count.asd}}</div>
      </tr>
    </div>
  </table>
</div>
