<div>
  <p-dialog header="User Registration Form" [(visible)]="displayRegister" [modal]="true" [responsive]="true"
            [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <p>
      Name: <input type="text" pInputText [(ngModel)]="inputBody.name"/><br/>
      UserID: <input type="text" pInputText [(ngModel)]="inputBody.userID"/><br/>
      Phone: <input type="text" pInputText [(ngModel)]="inputBody.phone"/><br/>
      Livingplace: <input type="text" pInputText [(ngModel)]="inputBody.livingPlace"/><br/>
      PersonalID: <input type="text" pInputText [(ngModel)]="inputBody.personalID"/><br/>
    </p>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="addUser();displayRegister=false" label="Yes">Yes</button>
      <button type="button" pButton icon="pi pi-close" (click)="displayRegister=false" label="No"
              class="ui-button-secondary">Close
      </button>
    </p-footer>
  </p-dialog>
</div>

<div>
  <p-dialog header="User Update Form" [(visible)]="displayUpdate" [modal]="true" [responsive]="true"
            [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <p>
      Name: <input type="text" pInputText [(ngModel)]="update.name"/><br/>
      Phone: <input type="text" pInputText [(ngModel)]="update.phone"/><br/>
      Livingplace: <input type="text" pInputText [(ngModel)]="update.livingPlace"/><br/>
      PersonalID: <input type="text" pInputText [(ngModel)]="update.personalID"/><br/>
    </p>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="updateUser(update);displayUpdate=false" label="Yes">Yes</button>
      <button type="button" pButton icon="pi pi-close" (click)="displayUpdate=false" label="No"
              class="ui-button-secondary">Close
      </button>
    </p-footer>
  </p-dialog>
</div>

<div>
  <p-dialog header="Rented Stuffs" [(visible)]="displayRented" [modal]="true" [responsive]="true"
            [style]="{width: '500px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>stuffID</th>
          <th>Date of rent</th>
          <th>Date of back</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stuff of rented">
          <td>{{stuff.stuffID}}</td>
          <td>{{stuff.dateOfRent}}</td>
          <td>{{stuff.dateOfBack}}</td>
          <td><button class="btn-dark" (click)="backStuff(stuff)">Backed</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-close" (click)="displayRented=false" label="No"
              class="ui-button-secondary">Close
      </button>
    </p-footer>
  </p-dialog>
</div>

<button class="btn-dark pt-2" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show">Add User</button>

<div class="row" *ngIf="users">
  <div class="card w-100">
    <div class="card-header">List of users</div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>UserID</th>
          <th>Phone Number</th>
          <th>Living Place</th>
          <th>Personal ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" [style.background-color]="user.itsDeleted === 'deleted' ? 'red': null ">
          <td >
            {{user.name}}
          </td>
          <td>
            {{user.userID}}
          </td>
          <td>
            {{user.phone}}
          </td>
          <td>
            {{user.livingPlace}}
          </td>
          <td>
            {{user.personalID}}
          </td>
          <td><button class="btn-dark">Rent</button></td>
          <td><button class="btn-dark" (click)="showRented(user.userID)">Back</button></td>
          <td><button class="btn-dark" (click)="showUpdate(user)">Update</button></td>
          <td><button class="btn-dark" (click)="deleteUser(user.userID)">Delete</button></td>
          <td><button class="btn-dark" (click)="getCount(user.userID)">Count</button></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
